@import url("styles/sobre.css");
@import url("styles/oportunidades.css");
@import url("styles/contatos.css");
@import url("styles/reponsividade.css");

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

:root {
    --fonte-1: Staatliches;
    --fonte-2: Days One;

    --verde: #A8DDB7;
    --verde-escuro: #010C11;
    --azul: #01171B;
}

body {
    background-color: var(--verde-escuro);
}

* { 
    margin: 0; 
    padding: 0; 
}

.fundo {
    background-image: url("fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
}

.cabecalho {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.cabe {
    width: 100%;
    height: 9vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--verde-escuro);
    position: fixed;
    z-index: 1;
    margin-top: 4%;
}

ul {
    display: flex;
}

li {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 40px;
    list-style: none;
    background-color: var(--verde-escuro);
    border-radius: 5px;
    border: 2px solid white;
    transition: 0.2s;
    animation-delay: 0;
}

li:hover {
    background-color: var(--verde);
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: white;
    font-family: var(--fonte-2);
}

.linha {
    width: 2px;
    height: 90%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linha {
    margin:auto;
    float: left;
    margin-left: 5%;
    margin-top: -75%;
}

.linha-2 {
    width: 2px;
    height: 90%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linha-2 {
    margin: auto;
    float: right;
    margin-right: 5%;
    margin-top: -75%;
}


.titulo {
    position: absolute;
    top: 0;
    width: 35%;
    height: 100%;
}

.assunto {
    background-color: transparent;
    backdrop-filter: blur(50px);
    box-shadow: 1px -100px 100px black;
    z-index: 2;
}

h1 {
    font-family: var(--fonte-1);
    color: white;
    text-align: center;
    padding-top: 50%;
}

.do {
    font-size: 50px;
    letter-spacing: 4px;
    text-align: left;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 12%;
    margin-inline-end: 0px;
    margin-inline-start: 0;
    unicode-bidi: isolate;
}

.colhendo {
    font-family: var(--fonte-2);
    color: white;
    font-size: 20px;
    letter-spacing: 4px;
    text-align: left;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 12%;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    margin-top: -90px;
}

.introducao {
    width: 65%;
    margin-left: 13%;
    font-family: var(--fonte-2);
    color: white;
    font-size: 9px;
    text-align: left;
    letter-spacing: 2px;
}

button {
    padding: 20px 70px;
    margin-top: 7%;
}

button {
    cursor: pointer;
    color: white;
    font-family: var(--fonte-2);
    border: 2px solid white;
    backdrop-filter: blur(5px);
    box-shadow: 0 5px 20px black;
    background-color: var(--verde-escuro);
    transition: 0.5s;
}

button:hover {
    background-color: var(--azul);
    border-radius: 30px;
}

footer {
    width: 100%;
    font-family: var(--fonte-2);
    background-color: var(--verde);
}

h4 {
    display: flex;
    justify-content: center;
    font-size: 15px;
}


@media screen and (max-width: 2522px) {

    .cabe {
        height: 12vh;
        margin-top: 3%;
    }
    

    .linha {
        background-color: white;
        height: 60%;
    }
    
    .linha {
        margin-top: -30%;
    }
    
    .linha-2 {
        height: 60%;
    }
    
    .linha-2 {
        margin-top: -30%;
    }
    
    .titulo {
        width: 35%;
    }
    
    .do {
        margin-top: -20%;
        font-size: 45px;
        margin-inline-start: 12%;
    }
    
    .colhendo {
        font-size: 17px;
        margin-inline-start: 12%;
        margin-inline-end: 0px;
    }
    
    .introducao {
        width: 65%;
        margin-top: -10%;
        margin-left: 12%;
        font-size: 8px;
    }
}


@media screen and (max-width: 1600px) {
    

    .cabe {
        height: 9vh;
        margin-top: 4%;
    }
    

    .linha {
        background-color: white;
        height: 80%;
    }
    
    .linha {
        margin-top: -60%;
    }
    
    .linha-2 {
        height: 80%;
    }
    
    .linha-2 {
        margin-top: -60%;
    }
    
    .titulo {
        width: 35%;
    }
    
    .do {
        margin-top: 0;
        font-size: 45px;
        margin-inline-start: 12%;
    }
    
    .colhendo {
        font-size: 17px;
        margin-inline-start: 12%;
        margin-inline-end: 0px;
    }
    
    .introducao {
        width: 65%;
        margin-top: 0;
        margin-left: 12%;
        font-size: 8px;
    }

}

@media screen and (max-width: 1292px) {
    .linha {
        height: 80%;
    }
    
    .linha {
        margin-left: 2%;
        margin-top: -80%;
    }
    
    .linha-2 {
        height: 80%;
    }
    
    .linha-2 {
        margin-right: 2%;
        margin-top: -80%;
    }
}

@media screen and (max-width: 1050px) {

    li {
        margin-right: 5px;
        padding: 5px;
    }

    .linha {
        height: 70%;
    }
    
    .linha {
        margin-left: 4%;
        margin-top: -75%;
    }
    
    .linha-2 {
        height:70%;
    }
    
    .linha-2 {
        margin-right: 4%;
        margin-top: -75%;
    }
    
    .titulo {
        width: 50%;
    }
    
    .do {
        margin-left: 8%;
    }
    
    .colhendo {
        margin-inline-start: 8%;
    }
    
    .introducao {
        width: 50%;
        margin-left: 8%;
        font-size: 10px;
    }

}

@media screen and (max-width: 934px) {


    .linha {
        margin-left: 2%;
        margin-top: -75%;
    }

    .linha-2 {
        margin-right: 2%;
        margin-top: -75%;
    }

}

@media screen and (max-width: 845px) {

    li {
        margin-right:4px;
        margin-top: 4%;
    }

    .linha {
        display: none;
    }

    .linha-2 {
        display: none;
    }

}

@media screen and (max-width: 806px) {

    #a2 {
        display: none;
    }
    
    li {
        padding-left: 60px;
        padding-right: 60px;
        margin-right: 50px;
        margin-top: 10%;
    }

    .introducao {
        width: 65%;
        margin-left: 8%;
        font-size: 7px;
    }
}

@media screen and (max-width: 450px) {

    li {
        padding-left: 40px;
        padding-right: 40px;
        margin-right: 40px;
        margin-top: 10%;
    }
}

@media screen and (max-width: 430px) {
    
    .cabe {
        z-index: 2;
        margin-top: 7%;
    }
    
    .titulo {
        width: 100%;
    }

    .fundo {
        background-image: none;
    }
    
    .assunto {
        backdrop-filter: none;
        background-color: var(--verde-escuro);
        box-shadow: none;
        z-index: 1;
    }
    
    h1 {
        padding-top: 40%;
    }
    
    .do {
        font-size: 40px;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 12%;
    }
    
    .colhendo {
        font-size: 15px;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 12%;
        margin-top: -80px;
    }
    
    .introducao {
        margin-left: 13%;
        font-size: 8px;
        letter-spacing: 2px;
    }
    
    button {
        padding: 10px 40px;
    }
        
}

@media screen and (max-width: 180px) {
   
    li {
        margin-right: -50px;
    }

    .do {
        width: 100%;
    }

    .colhendo {
        width: 100%;
    }

    .introducao {
        width: 100%;
    }
}